@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OptiScript";
  src: url(./fonts/OPTISport-Script.ttf.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url(./fonts/futura-pt.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT Bold";
  src: url(./fonts/futura-pt-bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sen", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  @apply bg-yellow-50;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  @apply text-5xl;
  @apply leading-loose;
}